.activity_container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    column-gap: 2em;
}

.view_container {
    display: flex;
    flex-direction: column;
}

.filter_container {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.banner {
    display: flex;
    justify-content: center;   
}
.banner img {
    max-width: 100%;
    object-fit: cover;
    object-position: top;
}

.table_container {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    
}

.viewmode {
    display: flex;
    justify-content: flex-end;
}

.viewmode button {
    border: 0;
    background: none;
    opacity: .3;
}

.viewmode button:hover {
    cursor: pointer;
    opacity: 1;
}

.view_control {
    display: flex;
    justify-content: space-between;
}

