/* button {
    text-decoration: none;
    color: var(--clr-topic);
    font-size: 1.8rem;
    font-weight: 300;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: .2s ease;
    
} */
/* button:hover{
    color: var(--clr-accent-orange);
} */
/* button i{
    margin-right: 10px;
} */


.topic {
    font-size: 1rem;
    font-weight: var(--fw-medium);
}

.des {
    font-weight: var(--fw-light);
    font-size: .8rem;
    color: var(--clr-placeholder);
    /* max-width: 250px; */

}

.icon-type {
    max-width: 30px;
}
.thumbpic {

    border-radius: .2em;
    width: 80px;
    height: 60px;
    object-fit: cover;
    object-position: center;
}
/* .preview{
    min-width: 80px;
    height: 60px;
    background: url(../img/login/login2.jpg);
    background-size: cover;
    background-position: center;
} */

/* input {
    color: var(--clr-topic);
    border: 2px solid var(--clr-topic);
} */

th i{
    margin-right: 10px;
}

th {
    font-weight: 500;
    padding-top: 8px;
    padding-bottom: 8px;
}

.table_container{
    max-width: 1400px;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.15);    

}

.form_head{
    padding: 1em 0;
}


.my_table{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    font-size: .9rem;
    text-align: center;
    color:  var(--dl-color-main-topic);
    border-bottom: 1px solid var(--dl-color-main-border);


    /* padding-left: 1em; */
    align-items: center;
    background-color: white;
}

th{
    background: var(--clr-light-gray);
}

tr {
    /* transition: .2s ease; */
}
tr:hover {
    /* background-color: coral; */
    /* transform: scale(1.05); */
    border-left: 3px solid coral ;
    /* border-block-color: red; */
    /* float: left; */

}
/* tr:nth-child(even) {background-color: red ;} */
td{
    /* margin: 0; */
    padding-bottom: 0px;
    padding-left: .7em;
    /* padding-right: .5em; */
}

@media(max-width: 1100px) {
    td {
        font-size: .8rem;
    }
}

.type img {
    /* background-color: var(--clr-accent-orange); */
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
    filter: invert();
    width: 20px;
}

.table_row > button {
    
}

.edit i:last-child{
    /* padding-left: .5em; */
}

.edit {
    font-size: 1rem;
}

.edit button {
    padding: 0;
    font-size: 1rem;
    margin-right: .7em;
    transition: .2s ease;
}

.edit button:hover{
    color: #FC7555;
    transform: scale(1.5);
}

.form_footer {
    height: 3em;
}

.des {
}

.tag button {
    background-color: #F3F3F3;
    border-radius: 1em;
    font-size: .9em;
    padding: 0px 4px;
    
}

.tag button:last-child {
    margin-left: .5em;
}

.tag button:hover {
    background-color: #FC7555;
    color: white;
}